.page-node-container {
  .page-image-preview {
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 16px;
    position: absolute;
    bottom: -20px;
    right: 8px;
  }
}
