.stories-listing-container {
  .add-story-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: 32px;
    right: 32px;
    cursor: pointer;
    border: solid 1px grey;
  }

  .popup-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: rgba(black, 0.6);
    z-index: 20;

    .popup-quit {
      position: absolute;
      top: 10%;
      right: 10%;
    }
  }
}
