.flow-container-page {
  background-color: white;

  .add-page-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: 32px;
    right: 32px;
    cursor: pointer;
    z-index: 20;
    border: solid 1px grey;
  }

  .save-page-btn {
    position: absolute;
    z-index: 20;
    bottom: 32px;
    right: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    padding: 12px 20px;
    cursor: pointer;
    // border: solid 1px grey;
    color: white;
    background-color: var(--orange);

    .save-page-btn-label {
      font-size: 16px;
      font-weight: bold;
      margin-left: 12px;
    }
  }

  .popup-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: rgba(black, 0.6);
    z-index: 20;

    .popup-content-container {
      position: relative;
      background-color: white;
      width: 500px;
      border-radius: 12px;
      padding: 30px 38px;
    }

    .popup-quit {
      cursor: pointer;
      position: absolute;
      top: 12px;
      right: 12px;
    }
  }

  .react-flow__minimap {
    left: 10px !important;
  }
}
