.edit-choices-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .edit-choice-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
